@import url("./nav.css");
@import url("./side-guide.css");
@import url("./footer.css");
@import url("./side-guide.css");

body {
    background-color: rgb(245, 245, 245);
}
.main-content {
    padding-top: 4px;
    padding-bottom: 4px;
}
.main-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 7px;
    padding-right: 8px;
    margin-bottom: 10px;
    width: 100%;
}
.container {
    background: red;
    margin-right: 91px;
    margin-left: 91px;
    padding: 15px;
    display: flex;
}
.content {
    height: 100%;
    width: 100%;
}