.side-content {
    height: 100%;
    width: 14%;
    float: left;
    position: relative;
    background-color: rgb(245, 245, 245);
}
.list-item {
    height: 30px;
    width: 100%;
    padding-left: 30px;
}
.list-item:hover {
    /* 
    background-color: rgb(250, 250, 250);
    */
    background-color: black;
}
.sidebar-section {
    left: 0;
    padding-top: 12px;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.guide-title {
    height: 30px;
    width: 100%;
    padding-left: 10px;
}
.guide-title-text {
    color: rgb(0, 0, 0);
}
.guide-title-text:hover {
    color: rgb(180, 180, 180);
}
